# {{ ansible_managed }}
DJANGO_SECRET_KEY={{ django_secret_key }}
DJANGO_DEBUG={{ 'False' if app_env == 'production' else 'True' }}
DJANGO_ALLOWED_HOSTS={{ ansible_host }},localhost,127.0.0.1
TODOLIST_ADMIN_PASSWORD={{ admin_password }}
