[defaults]
inventory = inventory.yaml
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
remote_tmp = /tmp/.ansible-${USER}/tmp
private_key_file = ~/devsecops-j1/id-rda-infra.key

[ssh_connection]
pipelining = True
